<!DOCTYPE html>
<html>
<head>
    <title>Chess Board</title>
</head>
<body>
    <h1>Enter a sequence of chess moves:</h1>
    <form method="POST" action="/">
        <input type="text" name="moves">
        <input type="submit" value="Submit">
    </form>

    <div id="board">{{ svg|safe }}</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('form').submit(function(event) {
            event.preventDefault();
            var moves = $('input[name=moves]').val();
            $.ajax({
                url: '/',
                method: 'POST',
                data: { moves: moves },
                success: function(response) {
                    $('#board').html(response);
                }
            });
        });
    </script>
</body>
</html>
